* {
    -fx-primary-color:#8ab5bb;
    -fx-secondary-color: #eff1f2;
    -fx-third-color:#b8cad4;
    -fx-fourth-color:#880015;
    -fx-fifth-color:#ffffff;
    -fx-sixth-color:#2f4f4f;
    -fx-outer-border: -fx-primary-color;
    -fx-inner-border: -fx-primary-color;
}

.date-picker .arrow-button {
	-fx-background-color: -fx-primary-color;
	-fx-background-radius: 0;
	-fx-text-fill: black;
}
.calendar-grid {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: black;
}
.calendar-header {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-fifth-color;
}
.date-picker-popup > .month-year-pane{
    -fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-primary-color;
}
.date-picker .cell:focused {
	-fx-background-color: -fx-primary-color;
}
.date-picker > .text-field {
	-fx-background-insets: 0, 0 1 0 0;
	-fx-background-radius: 0 0 0 5;
}
.date-picker > .arrow-button {
    -fx-background-color: -fx-primary-color,-fx-primary-color;
    -fx-background-radius: 0 5 5 0;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: black;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: black;
	-fx-border-color: transparent;
}

.date-picker .cell:selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-fifth-color;
}
